DB_TYPE=mysql
DB_HOST=localhost
DB_USERNAME=homestead
DB_PASSWORD=secret
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_DATABASE=evo
DB_PREFIX=evo_
DB_SOCKET=
DB_STRICT=true

CORE_CLASS=\DocumentParser

HTTPS_PORT=443

COOKIE_PATH=
COOKIE_DOMAIN=

EVO_BASE_PATH=/var/www/example.com/public/
EVO_BASE_URL=/
EVO_SITE_URL=https://example.com/
EVO_SITE_HOSTNAMES=example.com

MGR_DIR=manager
EVO_MANAGER_PATH=/var/www/example.com/public/manager/
EVO_MANAGER_URL=https://example.com/manager/
